header {
    background-color: green !important;
}

@media only screen and (max-width: 768px) {
    header {
        background-color: purple !important;
    }
}

@media only screen and (max-width: 480px) {
    header {
        background-color: aqua !important;
    }
}

